# Expand region
'atom-text-editor':
  'ctrl-shift-up': 'expand-region:expand'
  'ctrl-shift-down': 'expand-region:shrink'

# Clipboard Plus
'.platform-darwin atom-text-editor:not([mini])':
  'cmd-shift-v': 'clipboard-plus:toggle'
'.platform-win32 atom-text-editor:not([mini])':
  'ctrl-shift-v': 'clipboard-plus:toggle'
'.platform-linux atom-text-editor:not([mini])':
  'ctrl-shift-v': 'clipboard-plus:toggle'
